.search-container {
    margin-bottom: 20px;
}

.search-component {
    display: flex;
}

.search-image {
    height: 40px;
    margin-right: 5px;
    position: absolute;
    transform: translateX(-105%);
}

.search-input {
    border: 3px solid rgb(255, 183, 0);
    width: 600px;
}

.search-button {
    background-color: rgb(255, 183, 0);
    border-radius: 0;
}