.weather-component {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.weather-title {
    text-align: left;
    color: royalblue;
    font-weight: bold;
}

.weather-total-container {
    display: flex;
}

.weather-info-container {
    display: flex;
    margin-right: 5px;
}

.weather-image {
    width: 50px;
}

.weather-current {
    font-size: 30px;
    font-weight: bold;
}

.weather-forecast-container {
    display: flex;
    flex-direction: column;
}